#imagens{
    text-align: center;
    background-color: rgb(67, 170, 170);
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 1100px; 
}

.container{

display: inline-block;

}


.segunda{
    
    text-align: center;
    background-color: rgb(99, 40, 207);
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 1100px; 
}

.entrevista{
    
    text-align: center;
    background-color: rgb(207, 40, 110);
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 1100px; 
}


.segunda{
    
    text-align: center;
    background-color: rgb(99, 40, 207);
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 1100px; 
}


#centroeu{
    text-align: center;
    background-color: rgb(151, 170, 67);
    margin: 50px auto 50px auto;
    border-radius: 10px;
    width: 1100px; 
}